#
# Copyright (c) 2018-2022 Amazon.com, Inc. or its affiliates.  All rights reserved.
# PROPRIETARY/CONFIDENTIAL.  USE IS SUBJECT TO LICENSE TERMS.
#

on init
    mkdir /mnt/media_rw/usbotg 0700 media_rw media_rw
    mkdir /storage/usbotg 0700 root root

on boot
    write /proc/sys/vm/min_free_kbytes 32768

on post-fs-data
    #Camera
    chmod 0660 /dev/MAINAF
    chown system camera /dev/MAINAF

    chmod 0660 /dev/MAINAF2
    chown system camera /dev/MAINAF2

    chmod 0660 /dev/SUBAF
    chown system camera /dev/SUBAF

    chmod 0660 /dev/GAF001AF
    chown system camera /dev/GAF001AF

    chmod 0660 /dev/DW9714AF
    chown system camera /dev/DW9714AF

    chmod 0660 /dev/LC898212AF
    chown system camera /dev/LC898212AF

    chmod 0660 /dev/BU64745GWZAF
    chown system camera /dev/BU64745GWZAF

    #SMB
    chown system system /proc/smb/ScreenComm
    chmod 0660 /proc/smb/ScreenComm

    chmod 0660 /dev/spm
    chown system system /dev/spm

on init
    # silent ota
    chown system system /sys/class/leds/lcd-backlight/silent

# CABC
on property:vendor.hwc.video_mode=1
    write /sys/devices/platform/mtkfb@0/backlight_mode "mov"

on property:vendor.hwc.video_mode=0
    write /sys/devices/platform/mtkfb@0/backlight_mode "off"

# Top-off mode
on property:vendor.battery_charging_cv_level=1
    write /sys/devices/platform/charger/top_off_mode 1

on property:vendor.battery_charging_cv_level=0
    write /sys/devices/platform/charger/top_off_mode 0

#touch gesture wakeup
on property:vendor.touch_gesture_wakeup=1
    write /sys/touchscreen/link_input_dev/gesture_wakeup 1
on property:vendor.touch_gesture_wakeup=0
    write /sys/touchscreen/link_input_dev/gesture_wakeup 0

# Create /keys mount point and mount
on post-fs-data && property:ro.boot.mnt_keys_rw_opts=rw
    mkdir /mnt/vendor/keys 0751 root system
    mount_all /vendor/etc/fstab.mount_keys.rw
on post-fs-data && property:ro.boot.mnt_keys_rw_opts=ro
    mkdir /mnt/vendor/keys 0751 root system
    mount_all /vendor/etc/fstab.mount_keys.ro
